extends layout

block content
  h1 Welcome #{member ? member.username : `to the ${title} page`}
  p Welcome to #{title}
  if member
    p
      a(href='/message/create') Add new message 
    p
      a(href='/users/member/upgrade') Upgrade your status level
    p
      form(action="/users/member/logout") 
        button(type='submit') Log Out of #{`${member.username}`}
  else 
    form(action="/users/member/login") 
      button(type='submit') Log in
    form(action="/users/member/create") 
      button(type='submit') Create account

  if message_list.length
    h2 Messages: 
    ul 
      each message in message_list 
        li 
          h3=message.title 
          if member && member.status_level >= 2
            a(href=message.author.url) #{message.author.username}
          else 
            p 
              em *Author hidden (level 2+ members only)*
          p 
            em #{`(${message.date_posted_formatted})`}
          p=message.text 
  else 
    h2 There are currently no messages

